@model Merlin.Models.OverviewViewModel


<div class="jumbotron">
    <h1>MERLIN</h1>
    <p class="lead">@Model.TotalRows</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
